.imageCanvas{
    margin-left: 100px;
  }
  .imageCanvas .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      color: var(--color1);
      margin-bottom: 20px;
  }
  .imageCanvas .title p{
      margin-top: 15px;
      color: var(--color1);
  }

  .navBar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navBar input{
      cursor: pointer;
      padding: 10px;
      margin-left: 20px;
      margin-right: 20px;
  }
  .navBar input,.navBar select,.navBar label{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .navBar #imageURL{
    position: relative;
    border-radius:5px;
    cursor:auto;
    box-shadow:  9px 9px 18px rgba(238, 239, 237, 0.5),-9px -9px 18px #505562;
  }
  .navBar input#finput{
    display: none;
  }
  
  .navBar .wrapAddImage{
    display: flex;
    transition: 0.5s;
  }
  .navBar .filter{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center
  }
  
  .navBar .filter input label{
      cursor: pointer;
      display: flex;
  }
  
  .navBar .addImg{
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    background-color: #505562;
    cursor:pointer;
    box-shadow:  9px 9px 18px rgba(147, 209, 117, 0.50),-9px -9px 18px #505562;
    color: #0ad406;
   
  }
  .navBar .addImg:hover{
    background-color: rgba(147, 209, 117, 0.50);
    transition:0.5s;
  }
  
  .navBar #rainbow{
      border-radius: 5px;
      width: 150px;
      text-align: left;
      display: flex;
      justify-content:center;
      align-items: center;
      background-color: #505562;
      cursor:pointer;
      box-shadow:  9px 9px 18px #5773c7,-9px -9px 18px #6b707b;
      color: rgb(82, 125, 243);
  }
  .navBar #rainbow:focus, .navBar .filter select:focus{
    outline:transparent;   
  }
   
  .navBar #rainbow:hover{
    background-color: rgba(82, 125, 243, 0.50);
    transition:0.5s;
  }
  
  .navBar #clear,#clear2{
    border-radius: 5px;
    width: 150px;
    text-align: left;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    background-color: #505562;
    cursor:pointer;
    box-shadow:  9px 9px 18px rgb(221, 108, 104), -9px -9px 18px #505562;
    color: rgb(255, 10, 1);
  }
  
  .navBar #clear:hover,
  .navBar #clear2:hover
  {
    background-color: rgba(255, 10, 1, 0.33);
    transition:0.5s;
  }
  
  .navBar .filter label select{
      cursor: pointer !important;
      padding: 10px;
      margin-left: 10px;
      margin-left: 10px;
  }
  .navBar .filter select{
    border-radius: 5px;
    width: 150px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #505562;
    cursor:pointer;
    box-shadow:  9px 9px 18px rgb(247, 149, 72), -9px -9px 18px #505562;
    color: rgb(247, 149, 72);
  }
  .navBar .filter select option{
      background:#fff;
  }
  
  .navBar .filter select:hover{
    background-color: rgba(247, 149, 73, 0.50);
    transition:0.5s;
  }
  
    
  .canvas_content{
      display: flex;
      align-items:center;
      justify-content: center;
  
  }
  .canvas_width{
    position: relative;
  }
  .canvas_content .album{
    width: 30px;
    height: 20px;
    border-radius:5px;
    background: var(--color1);
    margin-right: 10px;
  }
  .canvas_content .book{
    width: 20px;
    height: 30px;
    border-radius:5px;
    background: var(--color1);
    margin-right: 30px;
  }
   .imageCanvas canvas{
      margin: 20px 20px;
      border-radius:5px;
      background: var(--color1);
      box-shadow: 9px 9px 10px #505562;
    }
    .imageCanvas #getCanvas{
      cursor: url("../../assets/images/free_icon_pencil_4277132.png"), pointer;
      border: 2px solid var(--white);
    }
    .icon_getCanvas{
      position: absolute;
      top:40%;
      right: 50%;
      width: 40px;
      height: 50px;
      filter: opacity(0.5) drop-shadow(0 0 0 rgb(245, 245, 246));
      z-index: 2000;
      cursor: pointer;
   }
  
  
   .canvas_content .arrow{
    display: flex;
    cursor: pointer;
    color: var(--color1);
    align-items:center;
    justify-content:center;
      width: 40px;
      height: 40px;
      border-radius:50%;
      border: 1px solid var(--white);
      transition: all 0.5s ease-in-out;
    }
    .canvas_content .arrow:hover{
      border: 3px solid var(--color1);
      box-shadow:0 0 5px var(--color1);
    }
  
    .photoStock{
      text-decoration:none;
      cursor: pointer;
      text-decoration: underline;
      color: var(--color1);
      transition: all .3s ease-in-out;
      padding-left:2em;
  
    }
    .photoStock:hover{
      color:var(--yellow-100);
      text-shadow:0 0 5px var(--yellow-100);;
    }
    .color_wrap{
      position: relative;
      display: flex;
      justify-content: center;
      align-items:center;
      width: auto;
      height: 50px;
      margin-right: 20px;
    }
    .color_wrap label{
      margin-right: 10px;
    }
   .color{
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    margin-right: 5px;
    z-index: 1000;
   }
  
  input[type="range"]{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }
  
  #preview{
    display: none;
  }
  .color__preview{
    background:none;
    background-color: var(--grey-900);
  }
  
  .opacity_wrap{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .line option{
    display: flex;
    justify-content: center;
    align-items:center;
   width: 50px;
   font-size: 50px;
   font-weight: 600;
  
  }
  
  /*діє для екранів менше 1200px*/
  @media (max-width: 1200px) {
    .page.imageCanvas{
      justify-content: start;
      align-items: start;
    }
    .canvas_content{
      flex-direction: column;
  
    }
    .wrapper_width{
      flex-direction: row;
    }
    .wrapAddImage{
      flex-direction: column;
      align-items:center;
      margin-bottom: 20px;
    }
    .wrapAddImage #imageURL{
      margin-top: 15px;
      margin-left: 0;
    }
    .navBar{
      z-index: 1;
      position: fixed;
      top:15%;
      right: 5%;
      display: flex;
      flex-direction:column !important;
    }
    .navBar  .folter select{
      margin-top: 20px;
    }
    .navBar input{
      margin-top: 20px;
    }
    .imageCanvas{
      justify-content: start;
      align-items: start;
    }
    }
   /*діє для екранів менше 900px*/
   @media (max-width: 900px) {
    .navBar{
      top:10%;
      right: 0;
    }
    .navBar input{
      padding: 10px 5px;
    }
    .navBar  .folter select{
      padding: 0px 0px;
    }
    .navBar .addImg{
      margin: 0;
      padding: 5px;
    }
   }
   