 
  .page .game{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    margin-bottom: 1em;
    box-sizing: border-box;
    height: 2000px;
  } 
  
  .page .game h2 {
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .page .game p {
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  .star0 {
    height: 1px;
    width: 1px;
    opacity: 1;
    position: absolute;
  }
  
  .star1 {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }
  
  .star2 {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }
  .star3 {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }
  
  .l_container {
    position: fixed;
    top:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    flex-wrap: wrap;
    z-index:30;
  }
  
  .b_game_card {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 400px;
    perspective: 1000px;
  }
  
  .b_game_card:not(:first-child){
    margin-left: 15px;
  }
  
  .b_game_card::before {
    display: block;
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(#000000, 0.5);
    box-shadow: 0 6px 12px 12px rgba(#000000, 0.4);
    will-change: opacity;
    transform-origin: top center;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out, opacity .5s ease-in-out;
  }
  
  .b_game_card:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }
  
  .b_game_card__cover {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height:100%;
      overflow: hidden;
      border-radius:5px;
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
      background-size: cover;
      perspective-origin: 50% 50%;
      transform-style: preserve-3d;
      transform-origin: top center;
      will-change: transform;
      transform: skewX(.001deg);
      transition: transform .35s ease-in-out;
    }
    .b_game_card__cover{
      background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);
    }
  .b_game_card__cover::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
    transform: translateY(-20%);
    will-change: transform;
    transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }
    
  .b_game_card__cover:hover {
    transform: rotateX(7deg) translateY(-6px);
  }
  
  .b_game_card__cover:hover::after {
    transform: translateY(0%);
  }
  
  
  .start {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    z-index: 200;
    color: #fff;
    background: black;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
  }
  .start button {
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .score {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
    padding: 5px 0;
    margin: 0;
    z-index: 200;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(163, 238, 173);
    text-align: center;
  }

  #car{
    background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_4.jpg);
  }

  .car,
  .enemy {
    width: 50px;
    height: 100px;
    background: transparent url("../../assets/images/enemy2.png") center / cover no-repeat;
    position: absolute;
  }
  .tree,
  .denger{
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent url("../../assets/images/tree1.png") center / cover no-repeat;
    position: absolute;
    border-radius:32px;
  }
  
  .gameArea {
    width: 300px;
    top: 100px;
    position: relative;
    margin: auto;
    background: #222;
    overflow: hidden;
  }
  
  .line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
  }
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  /*! стилі до modal boardColor */  
 #boardColor{
    background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_2.jpg);
  }
  #board{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    max-width: 100%;
    max-height: 650px;
  }
  
  .square {
    width: 16px;
    height: 16px;
    background: #1d1d1d;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
    transition: 2s ease;
  }
  .square:hover {
    transition-duration: 0s;
  }
  
   /*! стилі до modal circleColor */  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #16D9E3;
  }
  
  .screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: margin 0.5s ease-out;
    background: linear-gradient(90deg, #29323C 0%, #485563 100%);
  }
  .screen h3{
    margin-bottom: 30px;
  }
  .screen.up {
    margin-top: -100%;
  }
  
  .time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .time-list li {
    margin: 10px;
  }
  
  .time-btn {
    background-color: transparent;
    border: 2px solid #C0C0C0;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    padding: .5rem 1rem;
    font-size: 1.5rem;
  }
  
  .time-btn:hover {
    border: 2px solid #16D9E3;
    color: #16D9E3;
  }
  
  .hide {
    opacity: 0;
  }
  
  .primary {
    color: #16D9E3;
  }
  
  .board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 500px;
    background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
    box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
    border-radius: 30px;
    overflow: hidden;
  }
  #canvasGame{
    background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
    box-shadow: -8px -8px 20px #b4ceec, 10px 7px 20px #475462;
  }
  #finishGameContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  
  .startGame_btn{
  margin: 10px 10px;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow:-8px -8px 20px #2A333D, 10px 7px 20px #596471;
  transition: all .3s ease-in-out;
  }
  .startGame_btn:hover{
    background: linear-gradient(118.38deg, #273340 -4.6%, #37495e 200.44%);
    box-shadow:-5px -5px 20px #5c5c5e, 10px 7px 20px #9babbf;
  }
  #circle{
    background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_3.jpg);
  }
  .circle {
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
  }
  .text_info{
    display: flex;
    flex-direction: row;
  }
  .textGame{
    color: #c3c1c1;
  }
   .all_button{
    width: 30%;
    display: flex;
    flex-direction: row;
   }
   .all_button button {
    width: 30px;
   }
   .groupUpDown{
    display: flex;
    flex-direction: column;
   }
  .game_modal{
    width: 100%;
    height: 100%;
    background-color: #41943f;
  }
  @media (max-width: 1250px) {
  
      .l_container{
         padding-left: 100px;
         gap: 20px;
      }
    }
  
       