
.phone{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    border-radius:15px;
    justify-content:space-between;
    width: 428px;
    min-width: 428px;
    height: 667px;
    overflow: hidden;
    margin-top: 30px;
    background: var(--background);
    -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;         
   }
  .content_signs{
    display: none;
  }
  .phone .content_signs {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 650px;
    margin-top: 40px;
    padding: 24px 24px 24px 24px;
    z-index: 100;
    border-radius: 0 0 15px 15px;
    background: var(--background);
    overflow-y: scroll;   
    overflow-x: hidden; 
   }
   .content_signs .title{
    display: flex;
    justify-content: center;
   }
  .content_signs .title p{
    color: var(--black);
    font-family: montserrat;
    font-size: 20px;
    font-weight: 600;
  }
  
   .phone .phone_content::-webkit-scrollbar,
   .phone .content_signs::-webkit-scrollbar{
      width: 7px;
      background-color: #f5f5fd;
      height: 500px;
      border-radius:5px
   }
   .phone .phone_content::-webkit-scrollbar-button,
   .phone .content_signs::-webkit-scrollbar-button {
    height: 400px;
  }
  .phone .phone_content::-webkit-scrollbar-thumb,
  .phone .content_signs::-webkit-scrollbar-thumb{
    border-radius:5px;
    background-color: #4c4c4e;
   }
  
   .phone .top{
    position: absolute;
    background: var(--background);
    width: 100%;
    border-radius: 15px 15px 0 0;
    z-index: 101;
   }
   .phone_content .title{
    display: flex;
    justify-content:center;
   }
  .phone_content .title p{
      color: var(--black);
      font-family: montserrat;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
  
    .image_goroscope{
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
        overflow: hidden;
      width: 428px;
      height: 558px;
    }
    .photo_goroscop_stars{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
  
    }
  .phone_image_goroscop__star{
  position: absolute;
  background-repeat:no-repeat !important;
  height: 75%;
  width: 90%;
  z-index: 4;
  transition:var(--transition);
  }
  
  .phone_image_goroscop__back{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat !important;
    position: absolute;
    z-index: 2;
  }
  .phone_image_goroscop__cloud{
    height: 80%;
    width: 90%;
    background-size: cover;
    background-repeat:no-repeat !important;
    background-position: center;
    position: absolute;
    overflow: visible;
    transition:var(--transition);
  }
  
  
   .signs{
      display: flex;
      flex-direction: column;
      align-items:stretch;
      justify-content:space-between;
      margin-top: 19px;
    }
    .signs.group{
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content:space-between;
      gap: 20px;
    }
    .sign{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content:center;
    }
   .sign img{
    width: 112px;
    height: 112px;
    margin-bottom: 8px;
    cursor: pointer;
   }
   .sign p{
    color: var(--black);
    cursor: pointer;
    font-family: montserrat;
    font-size: 16px;
   }
  
   .imageActive img{
     border: 2px solid var(--orange-700);
     border-radius: 32px;
   }
  
   .change{
    width: 380px;
    height: 40px;
    padding: 10px 0;
    background-color: var(--orange-700);
    color:var(--background);
    border-radius: 32px;
    margin-bottom: 31px;
    margin-top: 31px;
    border:none;
    opacity: 1;
    transition: all .3s ease-in-out ;
    cursor: pointer;
   }
  .imageActive{
    display: flex;
    align-items: center;
   }
   .labelSign{
    margin-left:16px;
   }
   .labelSign .label{
    display: block;
    margin-bottom: 8px;
   }
   .goBack{
    cursor: pointer;
    height: 50px;
   }
  p {
    color: var(--black);
    font-family: montserrat;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
  }
  
  .aroundText{
    margin-top: 10px;
  }
  
  .discription .text{
    margin-bottom: 10px;
  }
  .result{
    display: flex;
    align-items:center;
  }
  .result.gun{
    margin-top: 10px;
  }
  .gunText.pilcrow{
    display: flex;
    align-items:center;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
   }
   .resultFooter{
    display: flex;
    align-items:center;
    justify-content: space-around;
   }
   .footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    cursor: pointer;
   }
   .footerText{
    margin-top: 4px;
   }
   .footerText.active{
    color:var(--orange-700);
   }
   .empti{
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  background: #cfcece;
   }
   .discription{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  
   }
   .discription.text{
    margin: 15px 20px;
   }
  
                                      