@keyframes wave {
    0% {
      top: 0;
      opacity: 1;
    }
    50% {
      top: 30px;
      opacity: 0.2;
    }
    100% {
      top: 0;
      opacity: 1;
    }
}
@keyframes sk-double-bounce {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.0);
    }
  }

  @keyframes sk-wave-stretch-delay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1.0);
    }
  }

  @keyframes sk-wandering-cubes {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: translateX(2em) rotate(-90deg) scale(0.5);
    }
    50% {
      /* Hack to make FF rotate in the right direction */
      transform: translateX(2em) translateY(2em) rotate(-179deg);
    }
    50.1% {
      transform: translateX(2em) translateY(2em) rotate(-180deg);
    }
    75% {
      transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5);
    }
    100% {
      transform: rotate(-360deg);
    }
  } 
         
   /*! анимация к пятому лоудеру */ 
@keyframes sk-spinner-pulse {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }
    
   /*! анимация к шестому лоудеру */ 
  @keyframes sk-chasing-dots-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
    
  @keyframes sk-chasing-dots-bounce {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.0);
    }
  }

    
   /*! анимация к седьмому лоудеру */ 
   @keyframes sk-cube-grid-scale-delay {
    0%, 70%, 100% {
      transform: scale3D(1,1,1);
    }
    35%           {
      transform: scale3D(0,0,1);
    }
  }
     /*! анимация к 8 лоудеру */   
  @keyframes sk-folding-cube-angle {
    0%, 10% {
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }


  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    text-align: center;
}

  .content_louder .wrapper {
    margin: 0 auto;
    margin-top: calc((100vh - 75vmin) / 2);
    overflow: hidden;
    position: relative;
    height: 75vmin;
    width: 75vmin;
  }
  
  .ring{
    height: 10%;
    width: 10%;
    border: 1vmin solid black;
    border-radius: 100vmin;
    position: absolute;
  }
  
.louder{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.content_louder{
    background-color: #1d1f20;
    height: 100vh;
    max-height: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 15px;
    overflow-y: scroll;
}


.content_louder::-webkit-scrollbar{
 width: 7px;
 background-color: #060606;
 height: 500px;
 border-radius:5px
}

.content_louder::-webkit-scrollbar-button {
height: 400px;
}

.content_louder::-webkit-scrollbar-thumb{
border-radius:5px;
background-color: #f6f6f8;
}


 section {
    flex: 1 1 25%;  
  }

  .sk-wave {
    width: 6em;
    height: var(--spinkit-size);
    margin: auto;
    text-align: center;
    font-size: 1em;
}   

  /*! перший лоудер */
.loader {
    margin: auto;
    width: 80px;
    height: 100px;
  }
  
  .block {
    position: relative;
    box-sizing: border-box;
    float: left;
    margin: 0 10px 10px 0;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: var(--green-A700);
  }
  
  .block:nth-child(4n + 1) {
    animation: wave 2s ease 0s infinite;
  }
  .block:nth-child(4n + 2) {
    animation: wave 2s ease 0.2s infinite;
  }
  .block:nth-child(4n + 3) {
    animation: wave 2s ease 0.4s infinite;
  }
  .block:nth-child(4n + 4) {
    animation: wave 2s ease 0.6s infinite;
    margin-right: 0;
  }
  
  
  
/*! другий лоудер */ 

.sk-double-bounce {
    width: var(--spinkit-size);
    height: var(--spinkit-size);
    position: relative;
    margin: auto;
}
.sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--green-A700);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-double-bounce 2.0s infinite ease-in-out;
}

  .sk-double-bounce .sk-double-bounce-2 {
    animation-delay: -1.0s;
  }

/*! третій лоудер */
.sk-wave {
    width: calc(var(--spinkit-size) * 1.5);
    height: var(--spinkit-size);
    margin: auto;
    text-align: center;
    font-size: 1em;
} 
.sk-wave .sk-rect {
      background-color: var(--green-A700);
      height: 100%;
      width: .5em;
      display: inline-block;
      animation: sk-wave-stretch-delay var(--animationDuration) infinite ease-in-out;
    }

.sk-rect:nth-child(5n + 1){
    animation: sk-wave-stretch-delay 2s ease 0s infinite; 
}
.sk-rect:nth-child(5n + 2){
    animation: sk-wave-stretch-delay 2s ease 0.2s infinite; 
}
.sk-rect:nth-child(5n + 3){
    animation: sk-wave-stretch-delay 2s ease 0.4s infinite; 
}
.sk-rect:nth-child(5n + 4){
    animation: sk-wave-stretch-delay 2s ease 0.6s infinite; 
}
.sk-rect:nth-child(5n + 5){
    animation: sk-wave-stretch-delay 2s ease 0.8s infinite; 
}

  
/*! четвертий лоудер */
  .sk-wandering-cubes {
    width: var(--spinkit-size);
    height: var(--spinkit-size);
    position: relative;
    margin: auto;
  }
  .sk-wandering-cubes .sk-cube {
      background-color: var(--green-A700);
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0;
      left: 0;
      animation: sk-wandering-cubes 1.8s ease-in-out 1.8s infinite both;
    }
  
    .sk-wandering-cubes .sk-cube-2 {
      animation-delay: 1.4s;
    }

  /*! пятий лоудер */
  .sk-spinner-pulse {
    width: var(--spinkit-size);
    height: var(--spinkit-size);;
    margin: auto;
    background-color: var(--green-A700);
    border-radius: 100%;
    animation: sk-spinner-pulse 1.0s infinite ease-in-out;
  }
  
  
    /*! шостий лоудер */
.sk-chasing-dots {
    width: var(--spinkit-size);
    height: var(--spinkit-size);
    position: relative;
    margin: auto;
    text-align: center;
    animation: sk-chasing-dots-rotate 2s infinite linear;
}
    .sk-child {
      width: 2em;
      height: 2em;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: var(--green-A700);
      border-radius: 100%;
      animation: sk-chasing-dots-bounce 2s infinite ease-in-out;
    }
  
    .sk-dot-2 {
      top: auto;
      bottom: 0;
      animation-delay: 1s;
    }

        
 /*! 7 лоудер */
  
  .sk-cube-grid {
    width: var(--spinkit-size);
    height: var(--spinkit-size);
    position: relative;
    margin: auto;
  }
  .sk-cube-grid .sk-cube {
      width: 33%;
      height: 33%;
      background-color: var(--green-A700);
      float: left;
      animation: sk-cube-grid-scale-delay 1.3s infinite ease-in-out;
    }
  
    /*
     * Spinner positions
     * 1 2 3
     * 4 5 6
     * 7 8 9
     */
  
     .sk-cube-grid .sk-cube-1 {
      animation-delay: 0.2s;
    }
    .sk-cube-grid .sk-cube-2 {
      animation-delay: 0.3s;
    }
    .sk-cube-grid .sk-cube-3 {
      animation-delay: 0.4s;
    }
    .sk-cube-grid .sk-cube-4 {
      animation-delay: 0.1s;
    }
    .sk-cube-grid .sk-cube-5 {
      animation-delay: 0.2s;
    }
    .sk-cube-grid .sk-cube-6 {
      animation-delay: 0.3s;
    }
    .sk-cube-grid .sk-cube-7 {
      animation-delay: 0s;
    }
    .sk-cube-grid .sk-cube-8 {
      animation-delay: 0.1s;
    }
    .sk-cube-grid .sk-cube-9 {
      animation-delay: 0.2s;
    }

    /*! 8 лоудер */              
  .sk-folding-cube {
    width: var(--spinkit-size);
    height: var(--spinkit-size);
    position: relative;
    margin: auto;
    transform: rotateZ(45deg);
  }
  .sk-folding-cube .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      transform: scale(1.1);
    }
  
    .sk-folding-cube .sk-cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--green-A700);
      animation: sk-folding-cube-angle 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }
  
    .sk-folding-cube .sk-cube-1{
        transform: scale(1.1) rotateZ(0deg);
    }
    .sk-folding-cube .sk-cube-2{
        transform: scale(1.1) rotateZ(90deg);
    }
     .sk-folding-cube .sk-cube-3{
        transform: scale(1.1) rotateZ(180deg);
    }
     .sk-folding-cube .sk-cube-4{
        transform: scale(1.1) rotateZ(270deg);
    }

    .sk-folding-cube .sk-cube-1:before{
        animation-delay: 0s;
    }
    .sk-folding-cube .sk-cube-2:before{
        animation-delay: 0.3s;
    }
     .sk-folding-cube .sk-cube-3:before{
        animation-delay: 0.6s;
    }
     .sk-folding-cube .sk-cube-4:before{
        animation-delay: 0.9s;
    }
     
  
  
    @media (max-width: 865px) {
      .content_louder{
        margin-left: 90px;
      }

    }
  