@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:wght@500;700&display=swap");

:root{
    --clr: #2B3246;
    --color1: #c3c1c1;
/*curuselPage*/
    --cover-timing: 0.5s; 
--cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
--cover-stagger: 0.15s;
--text-timing: .75s;
--text-stagger: 0.015s;
--text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
--clr-text: hsl(0, 0%, 100%);
--title-stagger: 0.05s;
--backgroundCurusel:#ebd9b6;
--index: calc(1vw+1vh);
--textColor: #e7e7e0;
--main-article-transform:translate3d(0,calc(var(--scrollTopY)/-7.5), 0);
--transition: transform .8s cubic-bezier(.02, .6, 0, 1);
/*pageSettings*/
--background-color: #bbdefb;
--blue-50: #e3f2fd;
--blue-100: #bbdefb;
--blue-A700: #2962ff;
--green-50: #e8f5e9;
--green-100: #c8e6c9;
--green-A700: #00c853;
--purple-50: #f3e5f5;
--purple-100: #e1bee7;
--purple-A700: #aa00ff;
--yellow-100:#f0f6bd;
--orange-50: #fff3e0;
--orange-100: #ffe0b2;
--orange-A700: #ff6d00;
--orange-700: #f57c00;
--grey-900: #212121;
--white: #ffffff;
--round_button-active-color: #212121;
--translate-main_slider: 100%;
--translate-filters-slider: 0;
--filters_container-height: 3.8rem;
--filters_wrapper-opacity: 1;
/*loader*/
--spinkit-size: 4em;
--rectCount: 5;
--animationDuration: 1.2s;
--delayRange: 0.4s;
--cubeDistence:(var(--spinkit-size)/2);
/*pageHome*/
--color1: #c3c1c1;
--black: #2e2c2c;
--background:#F0F2F8;
--purple: oklch(60% 0.37 294.7);
--yellow: oklch(60% 0.37 109.08);
--blue: oklch(60% 0.37 237.06);
--black-alpha-50: color-mix(in oklch, var(--black), transparent);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth; /* Гладкая прокрутка */
}

body {
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    background: var(--clr);
    color: var(--color1);
    overflow-x: hidden;
    line-height: 1.55;
    font-family: "Quicksand", sans-serif;
}

body.no-scroll {
  overflow: hidden; /* Отключает прокрутку */
}

.navBar{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.page{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
}
.modal {
    display: none;
    width: 460px;
    max-width: 100%;
    background: var(--clr);
    padding: 55px 25px 35px;
  }
  .modal-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 90;
  }
  #modal_content{
    z-index: 100;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    max-width: 100%;
    height: 650px;
  }
  .modal-close {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .close {
    display: block;
    position: fixed;
    top: 15%;
    right: 25%;
    z-index: 600;
    width: 26px;
    height: 26px;
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .close:before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: #ffffff;
  }
  .close:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #ffffff;
  }
  
  .activity {
    display: block;
    widows: 100%;
    padding: 10px;
    font-size: 18px;
  }
  .disabletLable{
    border-radius: 5px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    background-color: #505562;
    cursor:default ;
    box-shadow: 9px 9px 18px rgba(136, 137, 136, 0.5), -9px -9px 18px #505562;
    color: #68696b ;
  }

/*діє для екранів менше 1600px*/ 
  @media (max-width: 1600px) {
   .draggable {
        top: 30px;
        right: 100px;
    }
    
   }
/*діє для екранів менше 1200px*/
   @media (max-width: 1200px) {
   .close {
      top: 15%;
      right: 15%;
    }
    .draggable {
        top: 20px;
        right: 75px;
      }
  }
  /*діє для екранів менше 900px*/
  @media (max-width: 900px) {
  .close {
      top: 6%;
      right: 15%;
    }
    .draggable {
        right: 20px;
      }
  }
  /*діє для екранів менше 865px*/
  @media (max-width: 865px) {
   .close {
      top: 6%;
      right: 10%;
    }
  }
   /*діє якщо екран стає більший 768px*/
  @media only screen and (min-width: 768px) {
    .modal {
      padding: 55px 40px 40px;
    }
   }
   /*діє для екранів менше 720px*/
  @media (max-width: 720px) {
  .close {
      top: 1%;
      right: 1%;

    }
}